@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Combo&family=Merienda:wght@300..900&family=Protest+Revolution&family=Underdog&display=swap");
.protest-revolution-regular, .chat-card__header, .chat-card__effects--title {
  font-family: "Protest Revolution", serif;
  font-weight: 400;
  font-style: normal;
}

.combo-regular {
  font-family: "Combo", serif;
  font-weight: 400;
  font-style: normal;
}

.underdog-regular, .chat-card__description, .chat-card__effects {
  font-family: "Underdog", serif;
  font-weight: 400;
  font-style: normal;
}

.merienda-regular {
  font-family: "Merienda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Global styles */
.eventide-ability-row {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}

.eventide-character-sheet, .window-content form,
.window-content .dialog-buttons {
  background-image: linear-gradient(to bottom, rgba(68, 98, 131, 0.537254902), rgba(51, 72, 104, 0.462745098));
  padding: 5px;
  margin: -8px;
  background-attachment: local;
  height: 100%;
  overflow: auto;
}

.eventide-character-sheet input, .window-content form input,
.window-content .dialog-buttons input {
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.eventide-character-sheet input::selection, .window-content form input::selection,
.window-content .dialog-buttons input::selection {
  background: rgba(139, 69, 19, 0.7019607843);
  color: #fff;
}

.eventide-ability-row :hover:not(input) {
  text-shadow: 1px 1px 1px 1px #fff, 5px 5px 5px 5px rgba(0, 123, 255, 0.7019607843), 10px 10px 10px 10px rgba(0, 123, 255, 0.7019607843);
  color: #fff;
}

.eventide-ability-acro-box {
  background-color: rgba(166, 59, 1, 0.7019607843);
}

.eventide-ability-phys-box {
  background-color: rgba(145, 3, 3, 0.7019607843);
}

.eventide-ability-fort-box {
  background-color: rgba(40, 88, 40, 0.7019607843);
}

.eventide-ability-will-box {
  background-color: rgba(121, 8, 141, 0.7019607843);
}

.eventide-ability-wits-box {
  background-color: rgba(14, 67, 128, 0.7019607843);
}

.window-app {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, rgba(68, 98, 131, 0.537254902), rgba(51, 72, 104, 0.462745098));
}

.app {
  background-image: linear-gradient(to bottom, rgba(0, 77, 159, 0.5411764706), rgba(0, 41, 112, 0.5411764706));
}

.window-content {
  background: linear-gradient(to bottom, rgba(68, 98, 131, 0.537254902), rgba(51, 72, 104, 0.462745098));
  padding: 0px;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to eventide-rp-system sheets */
.chat-card__header {
  color: #fff;
  text-align: center;
  padding: 0.875rem;
  font-size: 1.125rem;
  margin-bottom: 0px;
  margin-top: 0px;
}
.chat-card__header--acrobatics {
  background-color: rgba(166, 59, 1, 0.7019607843);
}
.chat-card__header--physical {
  background-color: rgba(145, 3, 3, 0.7019607843);
}
.chat-card__header--fortitude {
  background-color: rgba(40, 88, 40, 0.7019607843);
}
.chat-card__header--willpower {
  background-color: rgba(121, 8, 141, 0.7019607843);
}
.chat-card__header--wits {
  background-color: rgba(14, 67, 128, 0.7019607843);
}
.chat-card__header--item {
  background-color: rgba(139, 69, 19, 0.7019607843);
}
.chat-card__header--combat-power {
  background-color: rgba(184, 134, 11, 0.7019607843);
}
.chat-card__header--dice-dc {
  background-color: rgba(28, 66, 77, 0.7019607843);
}
.chat-card__header--critical-hit {
  background-color: rgba(38, 18, 130, 0.7019607843);
}
.chat-card__header--critical-miss {
  background-color: rgba(78, 1, 1, 0.7019607843);
}
.chat-card__header--unknown {
  background-color: rgba(83, 83, 83, 0.7019607843);
}
.chat-card__header--status {
  display: flex;
  justify-content: center;
}
.chat-card__header--damage {
  background-color: rgba(88, 3, 3, 0.7019607843);
}
.chat-card__header--heal {
  background-color: rgba(203, 142, 0, 0.7019607843);
}
.chat-card__header--delete {
  background-color: rgba(85, 85, 85, 0.7019607843);
}
.chat-card__header--restore {
  background-color: rgba(203, 142, 0, 0.7019607843);
}
.chat-card__description {
  color: #444;
  text-align: justify;
  font-size: 0.9rem;
  padding: 0.01rem;
}
.chat-card__description--header {
  text-align: justify;
  font-size: 1.2rem;
  color: #444;
}
.chat-card__description--header-center-underline {
  text-align: center;
  font-size: 1.2rem;
  color: #444;
  border-bottom: 1px solid rgba(139, 69, 19, 0.7019607843);
}
.chat-card__effects {
  text-align: justify;
  font-size: 0.7rem;
  padding: 0rem;
  color: #444;
}
.chat-card__effects--ac-check {
  border: 3px dashed #ff9194;
  border-radius: 5px;
  background-color: #efdadf;
  padding: 0.0875rem;
  margin: 0.0875rem;
}
.chat-card__effects--title {
  text-align: justify;
  font-size: 0.8rem;
  padding: 0.01rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: rgba(139, 69, 19, 0.7019607843);
  color: #fff;
}
.chat-card__effects--hit {
  background-color: rgba(80, 200, 119, 0.7019607843);
  color: white;
  text-align: center;
  padding: 0.0875rem;
  font-size: 0.7rem;
  margin-bottom: 0px;
  border: 1px solid #fff;
}
.chat-card__effects--miss {
  background-color: rgba(199, 0, 57, 0.7019607843);
  color: white;
  text-align: center;
  padding: 0.0875rem;
  font-size: 0.7rem;
  margin-bottom: 0px;
  border: 1px solid #fff;
}
.chat-card__effects--name {
  font-weight: bolder;
  color: #000;
  font-size: 0.75rem;
}
.chat-card__effects--row {
  padding-left: 20px;
}
.chat-card__image--primary {
  width: 20px;
  height: 20px;
  border: 0px;
}
.chat-card__image--secondary {
  width: 13px;
  height: 13px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}
.chat-card__hr {
  border: none;
  border-top: 1px solid #c9c7b8;
}

.eventide-rp-system {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Combo&family=Merienda:wght@300..900&family=Protest+Revolution&family=Underdog&display=swap");
}
.eventide-rp-system .protest-revolution-regular {
  font-family: "Protest Revolution", serif;
  font-weight: 400;
  font-style: normal;
}
.eventide-rp-system .combo-regular {
  font-family: "Combo", serif;
  font-weight: 400;
  font-style: normal;
}
.eventide-rp-system .underdog-regular {
  font-family: "Underdog", serif;
  font-weight: 400;
  font-style: normal;
}
.eventide-rp-system .merienda-regular {
  font-family: "Merienda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.eventide-rp-system .item-form {
  font-family: "Roboto", sans-serif;
}
.eventide-rp-system .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.eventide-rp-system .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.eventide-rp-system .sheet-header .header-fields {
  flex: 1;
}
.eventide-rp-system .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.eventide-rp-system .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.eventide-rp-system .sheet-tabs {
  flex: 0;
}
.eventide-rp-system .sheet-body,
.eventide-rp-system .sheet-body .tab,
.eventide-rp-system .sheet-body .tab .editor {
  height: 100%;
}
.eventide-rp-system .tox .tox-editor-container {
  background: #fff;
}
.eventide-rp-system .tox .tox-edit-area {
  padding: 0 8px;
}
.eventide-rp-system .resource-label {
  font-weight: bold;
}
.eventide-rp-system .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.eventide-rp-system .items-header > * {
  font-size: 14px;
  text-align: center;
}
.eventide-rp-system .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.eventide-rp-system .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.eventide-rp-system .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.eventide-rp-system .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.eventide-rp-system .items-list .item-name h3, .eventide-rp-system .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.eventide-rp-system .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.eventide-rp-system .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.eventide-rp-system .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.eventide-rp-system .items-list .item:last-child {
  border-bottom: none;
}
.eventide-rp-system .items-list .item .item-name {
  color: #191813;
}
.eventide-rp-system .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.eventide-rp-system .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.eventide-rp-system .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.eventide-rp-system .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.eventide-rp-system .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.eventide-rp-system .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.eventide-rp-system .effects .item .effect-source,
.eventide-rp-system .effects .item .effect-duration,
.eventide-rp-system .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.eventide-rp-system .effects .item .effect-controls {
  border: none;
}

/*# sourceMappingURL=eventide-rp-system.css.map */
