@use "../utils/colors"as colors;
@use "../utils/typography"as typography;

.chat-card {
    &__header {
        @extend .protest-revolution-regular;
        color: colors.$card-white;
        text-align: center;
        padding: 0.875rem;
        font-size: 1.125rem;
        margin-bottom: 0px;
        margin-top: 0px;
        position: relative;

        &--subheader {
            color: colors.$card-white;
            align-items: center;
            justify-content: center;
            font-size: 0.7rem;
        }

        &--acrobatics {
            background-color: colors.$acro;
        }

        &--physical {
            background-color: colors.$phys;
        }

        &--fortitude {
            background-color: colors.$fort;
        }

        &--will {
            background-color: colors.$will;
        }

        &--wits {
            background-color: colors.$wits;
        }

        &--item {
            background-color: colors.$item;
        }

        &--dice-dc {
            background-color: colors.$dc;
        }

        &--critical-hit {
            background-color: colors.$critical-hit;
        }

        &--critical-miss {
            background-color: colors.$critical-miss;
        }

        &--stolen-crit {
            background-color: colors.$stolen-crit;
        }

        &--saved-miss {
            background-color: colors.$saved-miss;
        }

        &--unknown {
            background-color: colors.$unknown;
        }

        &--status {
            // display: flex;
            // justify-content: left;
            // align-items: left;
            // padding-left: 48px;
            font-size: 1.125rem;
        }

        &--damage {
            background-color: colors.$damage;
        }

        &--heal {
            background-color: colors.$heal;
        }

        &--delete {
            background-color: colors.$delete;
        }

        &--restore {
            background-color: colors.$heal;
        }
    }

    &__description {
        @extend .underdog-regular;
        color: colors.$card-tan;
        text-align: justify;
        font-size: 0.9rem;
        padding: 0.01rem;

        &--header {
            text-align: justify;
            font-size: 1.2rem;
            color: colors.$card-tan;
        }

        &--header-center-underline {
            text-align: center;
            font-size: 1.2rem;
            color: colors.$card-tan;
            border-bottom: 1px solid colors.$description-hr;
        }
    }

    &__effects {
        @extend .underdog-regular;
        text-align: justify;
        font-size: 0.7rem;
        padding: 0rem;
        color: colors.$card-tan;


        &--ac-check {
            border: 3px dashed colors.$hidden-border;
            border-radius: 5px;
            background-color: colors.$hidden-bg;
            padding: 0.0875rem;
            margin: 0.0875rem;
        }

        &--title {
            @extend .protest-revolution-regular;
            text-align: justify;
            font-size: 0.8rem;
            padding: 0.01rem;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
            margin-bottom: 3px;
            background-color: colors.$effect;
            color: colors.$card-white;
        }

        &--hit {
            background-color: colors.$hit;
            color: white;
            text-align: center;
            padding: 0.0875rem;
            font-size: 0.7rem;
            margin-bottom: 0px;
            border: 1px solid colors.$card-white;
        }

        &--miss {
            background-color: colors.$miss;
            color: white;
            text-align: center;
            padding: 0.0875rem;
            font-size: 0.7rem;
            margin-bottom: 0px;
            border: 1px solid colors.$card-white;
        }

        &--name {
            font-weight: bolder;
            color: colors.$card-black;
            font-size: 0.75rem;
        }

        &--row {
            padding-left: 20px;
            display: grid;
            grid-column: span 3 / span 3;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            width: 50%;

            &-cell {
                padding-left: 3px;
                padding-right: 3px;
                border-bottom: 1px dashed colors.$card-tan;

                &--first,
                &--last {
                    font-weight: bold;
                }

                &--last {
                    border-left: 1px dashed colors.$card-tan;
                    padding-left: 15px;
                    white-space: nowrap;
                }

                &--middle {
                    font-style: italic;
                }
            }
        }
    }



    &__image {
        &--primary {
            width: 150px;
            height: 150px;
            border: 0px;
        }

        &--secondary {
            width: 13px;
            height: 13px;
            border: 0px;
            background-color: colors.$secondary-image-background;
        }
    }

    &__hr {
        border: none;
        border-top: 1px solid colors.$hr;
    }

}