@use "../utils/typography";
@use "../utils/colors";
@use "../utils/mixins";
@use "../global/form-elements";

.effect-creator {
  display: flex;
  flex-direction: column;

  // Override the toggle group styling for this specific component
  .base-form__toggle-group {
    @include mixins.grid-compliant-toggle-group;

    margin: 0;
    padding: 0;
  }
}
