@use "../utils/colors";
@use "../utils/mixins";

.resource-label {
  font-weight: bold;
}

.checkbox-resource {
  
  .checkbox-container {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    align-items: center;
    border: 0.125rem outset colors.$c-dark;
    border-radius: 0.5rem;
    background-color: colors.$form-content-bg;
    padding: 0.2rem;
  }

  .checkbox-label {
    min-width: min-content;
    hyphens: manual;
    color: colors.$label-light-required;
  }
}

.ability {
  margin-bottom: 2px;
}

.ability-score,
.ability-total {
  flex: 0 0 44px;
}