.resource-label {
  font-weight: bold;
}

.checkbox-resource {
  min-width: 200px;
  
  .checkbox-container {
    display: flex;
    align-items: center;
    gap: 16px;
    white-space: nowrap;
  }
}

.ability {
  margin-bottom: 2px;
}

.ability-score,
.ability-total {
  flex: 0 0 44px;
}