{{!-- Status Popup --}}
<div class="{{cssClass}} erps-form" autocomplete="off">
  <div class="erps-form__content">
    {{> popup-header}}

    {{#if item.system.description}}
      <div class="erps-form__section">
        <div class="erps-form__header">{{item.actor.name}}</div>
        <div class="erps-form__description">
          {{{enrichedDescription}}}
        </div>
      </div>
    {{/if}}

    <hr class="erps-form__divider" />

    {{> popup-effects}}
  </div>

  {{> macro-footer}}
</div>