<div class="{{cssClass}} popup-form" autocomplete="off">
    <div class="popup-form__main chat-card">
        {{> popup-header}}

        {{#if item.system.description}}
        <div class="popup-form__content popup-form__content--description">
            <div class="popup-form__header">{{item.actor.name}}</div> 
            {{{item.system.description}}}
        </div>
        {{/if}}

        <hr />

        {{> popup-effects}}

    {{> macro-footer}}
</div>