<div class="{{cssClass}} base-form" autocomplete="off">
  <div class="base-form__group">
    <label class="base-form__label" for="gearId">Select Gear:</label>
    <select class="base-form__select" id="gearId" name="gearId">
      {{#each targetGear as |item|}}
        <option value="{{item.id}}">
          {{item.name}} ({{item.system.quantity}})
        </option>
      {{/each}}
    </select>
  </div>

  <div class="base-form__group">
    <label class="base-form__label" for="quantity">Quantity:</label>
    <input class="base-form__number-input" type="number" id="quantity" name="quantity" value="1" min="1">
  </div>

  <div class="base-form__group base-form__group--right">
    <button type="submit" class="base-form__button base-form__button--primary">
      <i class="fa fa-check"></i> Transfer
    </button>
  </div>
</div>
