<div class="{{cssClass}} base-form" autocomplete="off">
    <div class="base-form__header">Do you meet the prerequisites?</div>
    <div class="base-form__content">{{prerequisites}}</div>
    <div class="base-form__group base-form__group--right">
      <button type="submit" class="base-form__button base-form__button--primary">Yes</button>
      <button type="button" class="base-form__button" data-action="close">No</button>
    </div>
</div>