<div class="{{cssClass}} base-form" autocomplete="off">
  <div class="base-form__content">
    <div class="base-form__header">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.SelectAbilityRoll"}}:</div>
    <div class="base-form__group">
        <select class="base-form__select" autofocus name="attribute-choice">
            {{#each abilities}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </div>
  </div>
  
  {{> macro-footer}}
</div>