{{!-- Select Ability Roll Form --}}
<div class="{{cssClass}} erps-form" autocomplete="off">
  <div class="erps-form__content">
    <div class="erps-form__header">{{localize "EVENTIDE_RP_SYSTEM.Forms.Sections.SelectAbilityRoll"}}</div>
    <div class="erps-form__group">
      <select class="erps-select" autofocus name="attribute-choice">
        {{#each abilities}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  
  {{> macro-footer}}
</div>