<div class="chat-card">
  <div class="chat-card__header chat-card__header--initiative {{#if npc}}chat-card__header--initiative-npc{{else}}chat-card__header--initiative-pc{{/if}}">
    <i class="fa-solid fa-bolt"></i> {{name}} rolls for Initiative
  </div>
    {{> roll-info cardClass="initiative" cardType="initiative"}}
  {{#if description}}
    <div class="chat-card__description">
      <div class="chat-card__description--header">{{name}}. . . </div>
      {{{description}}} 
    </div>
  {{/if}}
</div>
