@use "../utils/typography";
@use "../utils/colors";

.base-form {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__header {
    @extend .underdog-regular;
    color: colors.$c-white;
    text-align: center;
    text-decoration: underline;
    padding: 0.875rem;
    font-size: 1.125rem;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .form-group {
    @extend .underdog-regular;
    margin-bottom: 0px;
    padding-bottom: 0px;

    label {
      color: colors.$c-white;
      font-size: 1rem;
      font-weight: bolder;
    }

    input,
    select,
    textarea {
      background-color: colors.$character-input;
      color: colors.$c-white;
      border-radius: 5px;
      border: 1px solid colors.$character-input-border;
    }

    input:not([type="checkbox"]),
    select {
      height: 1.75rem;
    }

    input[type='checkbox']:checked {
      background-color: colors.$character-input;
    }

    input[type='checkbox']:checked:after {
      content: '\2713';
      color: white;
    }

    input[type='checkbox'] {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      width: 20px !important;
      height: 20px !important;
      appearance: none;
      border-radius: 10%;
      border: 1px solid colors.$character-input-border;
      box-shadow: none;
      font-size: 1em;
    }

    input::selection,
    textarea::selection {
      background: colors.$c-white;
      color: colors.$c-black;
    }
  }
}