@use "../utils/colors"as *;

.eventide-roll-card {
    color: $c-white;
    text-align: center;
    padding: 0.875rem;
    font-size: 1.125rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.eventide-critical-hit {
    background-color: $critical-hit;
}

.eventide-critical-miss {
    background-color: $critical-miss;
}

.eventide-acro-card {
    background-color: $acro-color;
}

.eventide-phys-card {
    background-color: $phys-color;
}

.eventide-fort-card {
    background-color: $fort-color;
}

.eventide-will-card {
    background-color: $will-color;
}

.eventide-wits-card {
    background-color: $wits-color;
}

.eventide-item-card {
    background-color: $item-color;
}

.eventide-combat-power-card {
    background-color: $combat-power-color;
}

.eventide-dice-dc-card {
    background-color: $dc-color;
}

.eventide-unknown-card {
    background-color: $unknown-color;
}

.eventide-status-card {
    display: flex;
    justify-content: center;
}

.eventide-damage-card {
    background-color: $damage-color;
}

.eventide-heal-card {
    background-color: $heal-color;
}

.eventide-status-delete-card {
    background-color: $delete-color;
}

.eventide-restore-card {
    background-color: $heal-color;
}

.eventide-card-description {
    color: $c-tan;
    text-align: justify;
    font-size: 0.9rem;
    padding: 0.01rem;
}

.eventide-card-effects {
    text-align: justify;
    font-size: 0.7rem;
    padding: 0rem;
    color: $c-tan;
}

.eventide-card-effects-title {
    text-align: justify;
    font-size: 0.8rem;
    padding: 0.01rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: $acro-color;
    color: white;
}

.eventide-card-name {
    text-align: justify;
    font-size: 1.2rem;
    color: $c-tan;
}

.eventide-card-primary-image {
    width: 20px;
    height: 20px;
    border: 0px solid black;
}

.eventide-card-secondary-image {
    width: 13px;
    height: 13px;
    border: 0px solid black;
}

.eventide-card-hr {
    border: none;
    border-top: 2px solid $hr-color;
}

.eventide-card-hit-box {
    background-color: $hit-color;
    color: white;
    text-align: center;
    padding: 0.0875rem;
    font-size: 0.7rem;
    margin-bottom: 0px;
    border: 1px solid $c-white;
}

.eventide-card-miss-box {
    background-color: $miss-color;
    color: white;
    text-align: center;
    padding: 0.0875rem;
    font-size: 0.7rem;
    margin-bottom: 0px;
    border: 1px solid $c-white;
}