@use "../utils/colors"as colors;
@use "../utils/typography"as typography;

.eventide-roll-card {
    @extend .protest-revolution-regular;
    color: colors.$c-white;
    text-align: center;
    padding: 0.875rem;
    font-size: 1.125rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

.ac-check-container {
    border: 3px dashed colors.$hidden-border;
    border-radius: 5px;
    background-color: colors.$hidden-bg;
    padding: 0.0875rem;
    margin: 0.0875rem;
}

.eventide-critical-hit {
    background-color: colors.$critical-hit;
}

.eventide-critical-miss {
    background-color: colors.$critical-miss;
}

.eventide-acro-card {
    background-color: colors.$acro;
}

.eventide-phys-card {
    background-color: colors.$phys;
}

.eventide-fort-card {
    background-color: colors.$fort;
}

.eventide-will-card {
    background-color: colors.$will;
}

.eventide-wits-card {
    background-color: colors.$wits;
}

.eventide-item-card {
    background-color: colors.$item;
}

.eventide-combat-power-card {
    background-color: colors.$combat-power;
}

.eventide-dice-dc-card {
    background-color: colors.$dc;
}

.eventide-unknown-card {
    background-color: colors.$unknown;
}

.eventide-status-card {
    display: flex;
    justify-content: center;
}

.eventide-damage-card {
    background-color: colors.$damage;
}

.eventide-heal-card {
    background-color: colors.$heal;
}

.eventide-status-delete-card {
    background-color: colors.$delete;
}

.eventide-restore-card {
    background-color: colors.$heal;
}

.eventide-card-description {
    color: colors.$c-tan;
    text-align: justify;
    font-size: 0.9rem;
    padding: 0.01rem;
}

.eventide-card-effects {
    text-align: justify;
    font-size: 0.7rem;
    padding: 0rem;
    color: colors.$c-tan;
}

.eventide-card-effects-title {
    text-align: justify;
    font-size: 0.8rem;
    padding: 0.01rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: colors.$effect;
    color: white;
}

.eventide-card-name {
    text-align: justify;
    font-size: 1.2rem;
    color: colors.$c-tan;
}

.eventide-card-primary-image {
    width: 20px;
    height: 20px;
    border: 0px solid colors.$c-black;
}

.eventide-card-secondary-image {
    width: 13px;
    height: 13px;
    border: 0px solid colors.$c-black;
}

.eventide-card-hr {
    border: none;
    border-top: 2px solid colors.$hr;
}

.eventide-card-hit-box {
    background-color: colors.$hit;
    color: white;
    text-align: center;
    padding: 0.0875rem;
    font-size: 0.7rem;
    margin-bottom: 0px;
    border: 1px solid colors.$c-white;
}

.eventide-card-miss-box {
    background-color: colors.$miss;
    color: white;
    text-align: center;
    padding: 0.0875rem;
    font-size: 0.7rem;
    margin-bottom: 0px;
    border: 1px solid colors.$c-white;
}