<div class="erps-callouts">
    {{#each callouts as |callout|}}
        {{#if callout}}
            <div class="erps-callout erps-callout--{{callout.type}}">
                <i class="{{callout.faIcon}}"></i>
                <div class="erps-callout__content">
                    {{{callout.text}}}
                </div>
            </div>
        {{/if}}
    {{/each}}
</div>