<div class="erps-form__group erps-form__group--grid erps-form__group--grid-3">
    {{> erps-color-picker 
        name="bgColor"
        stacked=stacked
        labelPosition="above" 
        value=(ifThen (lookup storedData (concat type '_bgColor')) (lookup storedData (concat type '_bgColor')) '#7B4874') 
        label=(localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Background")
        placeholder="#7B4874"
    }}
    
    {{> erps-color-picker 
        name="textColor" 
        stacked=stacked
        labelPosition="above" 
        value=(ifThen (lookup storedData (concat type '_textColor')) (lookup storedData (concat type '_textColor')) '#ffffff') 
        label=(localize "EVENTIDE_RP_SYSTEM.Forms.Sections.Text")
        placeholder="#FFFFFF"
    }}
    
    {{> erps-color-picker 
        name="iconTint" 
        stacked=stacked
        labelPosition="above" 
        value=(ifThen (lookup storedData (concat type '_iconTint')) (lookup storedData (concat type '_iconTint')) '#ffffff') 
        label=(localize "EVENTIDE_RP_SYSTEM.Forms.Sections.IconTint")
        placeholder="#FFFFFF"
    }}
</div>