<footer class="erps-form__footer">
  {{#each footerButtons as |current|}}
    {{#if current}}
    <button
      type="{{current.type}}"
      class="erps-button {{current.cssClass}}"
      {{#if current.action}}data-action="{{current.action}}"{{/if}}
    >
      {{current.label}}
    </button>
    {{/if}}
  {{/each}}
</footer>