<footer class="base-form__footer">
  {{#each footerButtons as |current|}}
    <button
      type="{{current.type}}"
      class="{{current.cssClass}}"
    >
      {{current.label}}
    </button>
  {{/each}}
</footer>