{{!-- Popup Header --}}
<div class="erps-form__header erps-form__header--large" style="{{style}}">
    <div>{{item.name}}</div>
    <div class="erps-form__section">
        <img 
            src="{{item.img}}" 
            class="erps-form__image" 
            alt="{{item.name}}" 
        /> 
    </div>
</div>