<div class="popup-form__header" style="{{style}}">
    <div>{{item.name}}</div>
    <div class="popup-form__content popup-form__content--image">
        <img 
            src="{{item.img}}" 
            class="popup-form__image" 
            alt="{{item.name}}" 
        /> 
    </div>
</div>