<div class="erps-item-scope-selector">
  <span class="erps-item-scope-selector__header">
    <i class="fas fa-filter"></i>
    <span>{{label}}</span>
  </span>
  <div class="erps-item-scope-selector__options">
    <!-- Checkboxes are built dynamically via JavaScript -->
  </div>
</div>